<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{valor.sigla}}</title>
    </head>
    <body>
        {% include 'playstation/parciais/menu.html' %}

        {% if valor %}
        <ul>
            <li>Nome: {{valor.nome}}</li>
            <li>Descrição: {{valor.descricao}}</li>
            <li>Data de Lançamento: {{valor.data_lanc}}</li>
            <li><img src="{{valor.foto.url}}" alt="foto"></li>
        </ul>
        {% else %}
        <p>console desconhecido!</p>
        {% endif %}

    </body>
</html>
