{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- é colocado o css e js do global entre o bloco para poder deixar de carregar
        se necessário, para isso, basta chamar o bloco e deixar ele vazio -->
    {% block global_css_js %}
        <link href="{% static 'global/css/estilos.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'global/js/scripts.js' %}"></script>
    {% endblock global_css_js %}

    <!-- bloco para carregar o título da página -->
    <title>{% block app_titulo %}padrão{% endblock app_titulo %}</title>

    <!-- bloco para carregar o CSS de cada aplicativo -->
    {% block app_css_js %}{% endblock app_css_js %}
</head>
<body>
    {% block global_menu %}
        {% include 'global/parciais/menu.html' %}
    {% endblock global_menu %}

    {% block app_menu %}{% endblock app_menu %}

    <h1>{% block app_h1 %}{% endblock app_h1 %}</h1>

    <!-- bloco para colocar o conteúdo da página -->
    {% block app_conteudo %}{% endblock app_conteudo %}
</body>
</html>
